# ==================================================
# Common
# ==================================================
# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# ==================================================
# Markup languages
# ==================================================
[*.html]
indent_size = 4

[*.{yml,md}]
indent_size = 2

# ==================================================
# Template engines
# ==================================================
[*.{jade,erb,slim}]
indent_size = 2

# ==================================================
# JavaScript(altJS)
# ==================================================
[*.js]
indent_size = 4

[*.ts]
indent_size = 4

[*.coffee]
indent_size = 2

[*.json]
indent_size = 2

# ==================================================
# CSS(altCSS)
# ==================================================
[*.css]
indent_size = 4

[*.{sass,scss}]
indent_size = 4

[*.less]
indent_size = 4

[*.styl]
indent_size = 4

# ==================================================
# Python
# ==================================================
[*.py]
indent_size = 4

# ==================================================
# Ruby
# ==================================================
[*.rb]
indent_size = 2

[{Rakefile,Gemfile,Gemfile.lock}]
indent_size = 2

# ==================================================
# Go
# ==================================================
[*.go]
indent_size = 4
indent_style = tab

