{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },

  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },

  "rules": {
    "strict": 0,

    "default-case": 2,
    "dot-location": [2, "object"],
    "no-self-compare": 2,
    "no-else-return": 2,
    "no-throw-literal": 2,
    "no-var": 2,
    "no-void": 2,

    "max-params": [1, 5],
    "max-depth": [1, 3],
    "max-len": [1, 100, 2],
    "indent": [1, 2],

    "brace-style": [2, "1tbs", {
      "allowSingleLine": false
    }],
    "comma-style": [2, "last"],
    "linebreak-style": [2, "unix"],
    "consistent-this": [2, "DO NOT USE"],
    "quotes": [2, "double"],

    "accessor-pairs": 2,

    "constructor-super": 2,
    "no-class-assign": 2,
    "no-this-before-super": 2,

    "arrow-parens": 2,
    "arrow-spacing": [2, {
      "before": true,
      "after": true
    }],

    "id-length": [2, {
      "min": 2,
      "max": 30,
      "exceptions": ["a", "b", "h", "i", "l", "q", "v", "x", "y", "z"]
    }],
    "id-match": [2, "^[__|a-z|A-Z]+([A-Z][a-z]+)*$", {
        "properties": false
    }],

    "callback-return": [2, [
      "callback",
      "cb",
      "next"
    ]],

    "no-const-assign": 2,
    "prefer-const": 2,

    "prefer-spread": 2,

    "require-yield": 2,

    "space-before-function-paren": [2, "never"],
    "space-before-blocks": [2, "always"],
    "space-after-keywords": [2, "always"],

    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }],

    "no-comma-dangle" : 0,
    "no-invalid-this": 2,
    "no-implicit-coercion": 2,
    "no-new-require": 2,
    "no-lonely-if": 2,
    "no-nested-ternary": 2,
    "no-multiple-empty-lines": [2, {
      "max": 1
    }],
    "no-unneeded-ternary": 2,
    "no-unused-expressions": 0,
    "no-unused-vars": [1, {
      "vars" : "all",
      "args" : "after-used"
    }],
    "no-use-before-define": 0,
    "no-useless-call": 2,
    "no-multi-spaces": [2, {
      "exceptions": {
        "Property": true,
        "ImportDeclaration": true,
        "VariableDeclarator": true,
        "AssignmentExpression": true
      }
    }],
  }
}
