[user]
  name = kubosho
  email = ta2@o2p.jp

[color]
  ui = true
  status = auto
  diff = auto
  branch = auto
  grep = auto

[core]
  editor = vim

[color "status"]
  added = yellow
  changed = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[alias]
  st = status
  ft = fetch
  ci = commit
  co = checkout
  br = branch

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[hub]
  protocol = https

[ghq]
  root = /Users/s.kubota/src

[push]
  default = simple
