[include]
	path = ~/.gitconfig.local

[alias]
	ad = add
	br = branch
	bs = bisect
	ch = cherry-pick
	ci = commit
	co = checkout
	df = diff
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@ | sed \"s/fixup\\! //\")\"' -
	ft = fetch
	gcl = !sh -c '$HOME/.tools/cleanup-branches.sh'
	gr = grep
	grr = grep --break --heading
	logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	pl = pull
	ps = push
	rb = rebase
	ri = rebase --interactive --autosquash
	st = status
	sw = switch

[color]
	branch = auto
	diff = auto
	grep = auto
	status = auto
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	frag = magenta bold
	meta = yellow bold
	new = green bold
	old = red bold
	whitespace = red reverse

[color "grep"]
	filename = yellow
	linenumber = bold white
	match = cyan

[color "status"]
	added = yellow
	changed = green

[commit]
	gpgsign = true
	template = ~/.gitmessage.txt

[core]
	autoCRLF = false
	editor = vim
	excludesfile = ~/.gitignore
	precomposeunicode = true
	quotepath = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[ghq]
	root = ~/src

[github]
	user = kubosho

[gpg]
  format = ssh

[grep]
	lineNumber = true

[hub]
	protocol = https

[pull]
	rebase = true

[push]
	default = simple

[rebase]
	autosquash = true

[url "git@github.com:"]
	insteadOf = https://github.com/
