.sass-cache/
.idea/

.DS_Store

*.elc
*.swp

.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/history
.emacs.d/.recentf
.emacs.d/el-get
.emacs.d/site-lisp
.emacs.d/rsense

.emacs.d.old/ac-comphist.dat
.emacs.d.old/auto-save-list
.emacs.d.old/history
.emacs.d.old/.recentf
.emacs.d.old/el-get
.emacs.d.old/site-lisp

.vim/.netrwhist
.vim/bundle

