# Directories
.config/go/
.config/karabiner/
.idea/
.obsidian/
.qodo/
.sass-cache/
.volta/
configstore/
node_modules/

# Files
*.elc
*.swp
.DS_Store
.clinerules
.gitconfig.local
.tern-project
.zprivate
wezterm_state*
wezterm_workspace*

# Wezterm
.config/wezterm/local.lua

# Dotfiles
.config/systemd/**/tmux.service
.config/tmux/plugins/*
.config/zsh/anyenv/
.config/zsh/configstore/

# Emacs
.emacs.d/.recentf
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/el-get
.emacs.d/history
.emacs.d/rsense
.emacs.d/site-lisp

# Vim
.vim/.netrwhist
.vim/bundle

# Cursor
.cursor/*
!.cursor/settings.json
.instructions/
.specstory/
.cursorignore
.cursorindexingignore
