{{- $gitAllowedSignersItem := ".gitallowedsigners" -}}
{{- if hasKey . "gitAllowedSignersItem" }}{{ $gitAllowedSignersItem = .gitAllowedSignersItem }}{{ end -}}
{{ onepasswordRead (printf "op://Development/%s/notesPlain" $gitAllowedSignersItem) | trim }}
