<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>title</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="canonical" href="" />
<link rel="shortcut icon" href="" />
<link rel="apple-touch-icon" href="" />
<link rel="stylesheet" href="/css/style.css" />
<script src="/js/lib/jquery.js"></script>
<script src="/js/script.js"></script>
<!--[if lt IE 9]>
<script src="/js/lib/html5shiv-printshiv.js"></script>
<![endif]-->
</head>

<body>
<div id="container">

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
    var js,
    fjs = d.getElementsByTagName(s)[0];

    if (d.getElementById(id)) {
        return;
    }

    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<header id="siteHeader" role="banner">
    <h1>title</h1>
<!-- #siteHeader --></header>

<div id="main" role="main">
<!-- #main --></div>

<footer id="siteFooter" role="contentinfo">
    <div class="copyright">
        <small>Copyright &#xA9; 201 .</small>
    </div>
<!-- #siteFooter --></div>

<!-- #container --></div>
</body>
</html>
